
nav{
    width: 90%;
    margin: auto;
}
.nav-top-main{
    background-color: #2E3092;
}
.nav-top{
    width: 80%;
    margin: auto;
    padding: 1.5% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-top-left{
    width: 50%;
}
.nav-top-left ul{
    display: flex;
    gap: 15px;
    margin-bottom: 0;
    list-style-type: none;
}
.nav-top-left li{
    border-right: 1px solid #fff;
    padding-right: 15px;
}
.nav-top-left a{
    text-decoration: none;
    color: #fff;
}
.nav-top-right{
    width: 50%;
    color: #fff;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.nav-top-right a {
    text-decoration: none;
    color: #fff;
}

.container {
    display: flex;
    width: 80%;
    margin: 10% auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.left {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 500px;
}

.right img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

h2 {
    color: #2e3092;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control,
.form-control-file,
.form-control-select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #2e3092;
    border-color: #2e3092;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #1e1f6c;
    border-color: #1e1f6c;
}